<h1>Editing team</h1>

<%= render 'form' %>


<h3>Current Members</h3>
<%= render @team.members %>

<div class="nav-actions">
	<%= link_to 'Details', @team %> |
	<%= link_to 'Back to list', teams_path %>
</div>