<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Rosterfarian Team Broadcast</h1>
    <p>This was sent automagically...</p>

      <%= debug @message %>


    <p>Thanks for joining and have a great day!</p>
  </body>
</html