/* CAS styles
   Updated:2011-11-25 ENR
   Author:Erik Runyon
   ----------------------------------------------------*/

@charset "UTF-8";

/* Reset
   ----------------------------------------------------*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,instructions,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video {margin:0; padding:0;}
article,instructions,details,figcaption,figure,footer,
header,hgroup,menu,nav,section {display:block;}
h1,h2,h3,h4,h5,h6 {margin:0 0 0.75em; font-size:100%;}
table {border-collapse:collapse; border-spacing:0;}
strong,b,mark {font-weight:bold; font-style:inherit;}
em,i,cite,q,address,dfn,var {font-style:italic; font-weight:inherit;}
abbr[title],dfn[title] {cursor:help; border-bottom:1px dotted;}
ins {border-bottom:1px solid;}
a,u,ins {text-decoration:none;}
del,s {text-decoration:line-through;}
pre,code,samp,kbd {font-family:monospace;}
small {font-size:0.75em;}
img {border:none; font-style:italic;}
input,
select,option,optgroup,
textarea {font:inherit;}

/* Basic
   ----------------------------------------------------*/
html {height:100%; width:100%; font-size:14px; overflow-y:scroll;}
body {width:100%; width:100%; color:#333; line-height:1.4em; font-family:"Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -ms-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
}
h2 {font-size:130%;}
h3 {font-size:120%;}
h4 {font-size:110%;}
p {margin:0 0 1em;}
p + p {margin:1em 0;}
img {max-width:100%; -ms-interpolation-mode:bicubic;}

::-moz-selection { background:#369; color:#fff; text-shadow:none; }
::selection { background:#369; color:#fff; text-shadow:none; }

a { color:#0058cf; -webkit-tap-highlight-color:#369;}
a:visited { color:#551a8b; }
a:hover { color:#9b8231; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }

fieldset {display:block; margin:0; padding:0; border:none;}
legend {display:block; width:100%; margin:0 0 8px; padding:3px 0; font-weight:bold; font-size:140%; border-bottom:1px solid #dadada;}
/*
input[type="text"],
input[type="password"] {width:70%;}
*/
form ul {overflow:hidden; margin:0; list-style:none;}
form li {overflow:hidden; clear:both; margin:10px 0;}
  li.check {margin:12px 0 10px;}
  li.check input {display:inline; margin-right:4px;}
  li.check label {display:inline; font-weight:normal;}
label {display:block; font-weight:bold;}

/* Styles
   ----------------------------------------------------*/
#list-languages {display:none;}
#msg {}
#status {}
.info, .errors, .success {clear:both; min-height:46px; margin:0 0 20px; padding:10px 10px 10px 70px;}
.errors {border:1px dotted #d21033; background:#fed url("../images/error.gif") 10px 10px no-repeat;}
.success {border:1px dotted #390; background:#dfa url("../images/confirm.gif") 10px 10px no-repeat;}
.info {border:1px dotted #2b4dae; background:#eff url("../images/info.gif") 10px 10px no-repeat;}
input.error {color:#b00; background-color:#fffaaa;}
.btn-submit {display:block; margin:8px 0 0; padding:4px 10px; text-align:center; white-space:pre; line-height:29px; vertical-align:bottom; border:1px solid #022854; color:white; cursor:pointer; text-shadow:0 1px rgba(0, 0, 0, 0.1); -webkit-box-align:center; -webkit-appearance:push-button;
  background-color:#0d407b;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#0d407b),to(#083970));
  background-image:-webkit-linear-gradient(top,#0d407b,#083970);
  background-image:-moz-linear-gradient(top,#0d407b,#083970);
  background-image:-ms-linear-gradient(top,#0d407b,#083970);
  background-image:-o-linear-gradient(top,#0d407b,#083970);
  background-image:linear-gradient(top,#0d407b,#083970);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-transition:all 0.218s;
  -moz-transition:all 0.218s;
  -ms-transition:all 0.218s;
  -o-transition:all 0.218s;
  transition:all 0.218s;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}
.btn-reset {display:none;}
li.btn-row {margin-bottom:0;}

.cf:before,
.cf:after {content:""; display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}

@media screen,projection {

  /* Structure
     ----------------------------------------------------*/
  body {background:#fff url(../assets/ndt-bg-blue-gold.png) 0 0 repeat-x;}
  #wrapper {position:relative; max-width:960px; margin:0 auto; padding:0 10px;}
  #header {height:150px; font-family:Georgia, Times, "Times New Roman", serif;}
    #header h2 {margin:0;}
    #header h2 a {display:block; height:50px; width:100%; text-indent:-9999px; overflow:hidden; background:url(../assets/und.png) left center no-repeat;}
    #header h1 {clear:both; width:100%; height:auto; margin:30px 0 0; padding:0 0 10px; font-size:280%; font-weight:normal; line-height:1em; text-shadow:0 1px 0 #fff;}
    #header h1 a {display:block; width:auto; border:none; color:#002b5c; text-decoration:none;}

  #content {padding:30px 0;}
  #fm1 {float:left; width:40%; padding:20px; background-color:#f5f5f5; border:1px solid #e5e5e5;}
  #instructions {float:right; width:48%; padding:0;}

  #footer {clear:both; float:left; position:relative; clear:both; width:100%; margin:0; padding:30px 0 40px; border-top:1px solid #dadada; font-size:92%;}
    .geo {display:none;}
    .address {display:block;}
    #ndmark {display:block; position:absolute; top:35px; right:0; width:150px; border:none;}
    #ndmark img {}

}

/*************************************************************************************
 * @media queries
 ************************************************************************************/
@media screen and (max-device-width:480px) {
  html {-webkit-text-size-adjust:none; -ms-text-size-adjust:none; text-size-adjust:none;}
}

@media only screen and (max-width:680px) {
  legend {font-size:120%;}
  input {max-width:90%;}

  body {background:none;}
  #wrapper {padding:0;}
  #header {overflow:hidden; height:auto; width:100%;}
  #header h2 {margin:0;
    background:#0d407a;
    background:-moz-linear-gradient(top, #0d407a 0%, #012c5d 97%, #001834 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d407a), color-stop(97%,#012c5d), color-stop(100%,#001834));
    background:-webkit-linear-gradient(top, #0d407a 0%,#012c5d 97%,#001834 100%);
    background:-o-linear-gradient(top, #0d407a 0%,#012c5d 97%,#001834 100%);
    background:-ms-linear-gradient(top, #0d407a 0%,#012c5d 97%,#001834 100%);
    background:linear-gradient(top, #0d407a 0%,#012c5d 97%,#001834 100%);
  }
  #header h2 a {height:40px; background-position:center center;}
  #header h1 {margin:0; padding:20px 0; font-size:200%; text-align:center; border-bottom:1px solid #9c7012;
    background:#d2b465;
    background:-moz-linear-gradient(top, #f6e7a2 0%, #e0c477 92%, #d2b465 96%, #d2b465 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e7a2), color-stop(92%,#e0c477), color-stop(96%,#d2b465), color-stop(100%,#d2b465));
    background:-webkit-linear-gradient(top, #f6e7a2 0%, #e0c477 92%, #d2b465 96%, #d2b465 100%);
    background:-o-linear-gradient(top, #f6e7a2 0%, #e0c477 92%, #d2b465 96%, #d2b465 100%);
    background:-ms-linear-gradient(top, #f6e7a2 0%, #e0c477 92%, #d2b465 96%, #d2b465 100%);
    background:linear-gradient(top, #f6e7a2 0%, #e0c477 92%, #d2b465 96%, #d2b465 100%);
  }
    #header h1 a {/* display:block; width:100%; height:auto; margin:0; padding:0; text-align:center; */}

  #content {padding:16px; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

  /* Footer */
  #footer {font-size:90%;}
    .vcard {width:100%; margin:10px 0 20px; text-align:center;}
      #copyright {width:100%;}
    #footer #ndmark {position:relative; top:auto; right:auto; margin:20px auto;}

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width:480px) {
  #header h1 {font-size:160%;}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width:400px) {
  #header h2 a {background-size:80% auto;}
  #header h1 {font-size:130%;}
  #fm1 {float:none; width:100%; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
  #instructions {float:none; width:100%; padding:0;}
}

/* iPhone4 and high pixel ratio devices ----------- */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {}

/*************************************************************************************
 * Print Styles
 ************************************************************************************/
@media print {

  /* REDECLARATIONS
     ----------------------------------------------------*/
  @page { margin:0.5cm; }
  html {height:100%;}
  body {font-family:Georgia, "Times New Roman", Times, serif; color:#bcbcbc; font-size:13px;}

  .ndmark {width:150px; }

  /* HIDDEN
     ----------------------------------------------------*/
  .geo {display:none;}

  /* STRUCTURE
     ----------------------------------------------------*/
  #wrapper {font-size:100%;}
  #header {display:block; margin:0 0 10px; padding:0 0 10px; border-bottom:1px solid gray;}
  #header h2 {margin:0; font-size:85%; font-weight:normal;}
  #header h1 {margin:4px 0 0; font-size:200%;}
  #header h1 a {color:#333;}

  #content a:link:after {content:" [" attr(href) "] "; font-size:12px;}
  #content abbr:after {content:" (" attr(title) ")";}

  /* FOOTER
     ----------------------------------------------------*/
  #footer {display:block; position:relative; clear:both; margin:10px 0; padding:20px 0; border-top:1px solid gray; font-size:85%;}
  #footer a {text-decoration:none; color:#333;}
  #footer p {margin:0;}
  #footer #ndmark img {position:absolute; right:0; top:10px; border:none;}

}